@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.header {
    overflow: hidden;
    background-color: #f2f2f2;
    padding: 10px;
    height: 80px;
}

    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 17px;
        line-height: 21px;
    }

        .header a.active {
            background-color: dodgerblue;
            color: white;
        }

.header-right {
    float: right;
}

.currencies {
    width: 150px;
    height: 100vh;
    color: #fff;
    background: #1b6ec2;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, dodgerblue 70%);
    padding: 1px;
    align-items: center;
    transition: 0.5s width;
}

.сurrencyBar {
    width: 100px;
    height: 100px;
    color: black;
    background: #0366d6;
    font-size: 0.7rem;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    background-color: #fff;
    display: block;
}

.newsbar-item .currencies {
    opacity: 0.5;
}

.newsbar-item .news {
    opacity: 1;
}

#modal {
    width: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.container {
    margin: 25vh 25vh;
    width: 50vh;
    height: 50vh;
    background: white;
    box-sizing: border-box;
    padding: 15vh;
    position: relative;
}

    .container .closeModal {
        position: absolute;
        right: 15px;
        top: 15px;
    }

