@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px;
}

    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 22px;
        line-height: 25px;
        border-radius: 4px;
    }

        .header a:hover {
            background-color: #ddd;
            color: black;
        }

        .header a.active {
            background-color: dodgerblue;
            color: white;
        }

.header-right {
    float: right;
}
