@using System.Net.Http

@if (Currencies != null)
{
    <p class="badge-dark" style="margin-bottom:1px">CURRENCY RATE</p>
    @if (CurrencyList == null)
    {
        @foreach (var cur in Currencies)
        {
            <div class="text-center container-fluid" style="white-space:nowrap">
                <span class="item i-body">@cur.Id</span>
                <span class="item i-body">@cur.Value</span>
            </div>
        }
    }
    else
    {
        @foreach (var cur in Currencies)
        {
            @if (CurrencyList.Contains(cur.Id))
            {
                <div class="text-center container-fluid" style="white-space:nowrap">
                    <span class="item i-body">@cur.Id</span>
                    <span class="item i-body">@cur.Value</span>
                </div>
            }
        }
    }
    @if (CurrencyList.Count == 0)
    {
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
}

@code {
    [Parameter]
    public List<string> CurrencyList { get; set; }

    Currency[] Currencies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string uri = "https://localhost:44384/NewsService/currencies?newsPublisherType=CentralBank";
        HttpClient client = new HttpClient();
        Currencies = await client.GetJsonAsync<Currency[]>(uri);
    }
}
