@using Authentication
@inject AuthStateProvider AuthenticationProvider
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService Storage

<div class="header">
    <a href="#"><img src="Logo/logo.png"></a>
    <a class="header_item" href="#">News</a>
    <div class="header-right">
        <AuthorizeView>
            <NotAuthorized>
                <a class="header_item" href="signup">Sign up</a>
                <a> / </a>
                <a class="header_item" href="signin">Sign in</a>
            </NotAuthorized>
            <Authorized>
                <a class="header_item" href="signin" @onclick="@SignOut">  Sign Out</a>
                <a> / </a>
                <a class="header_item" href="userinfo">User Info</a>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void SignOut()
    {
        Storage.ClearAsync();
        AuthenticationProvider.MarkSignedOut();
    }
}