@using GUI.Shared.Currency 

@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<div class="newsbar sidebar">
    <div class="newsbar-item currencies text-center">         
        <CurrencyContainer CurrencyList="currencies"/>
    </div>
</div>

@code{
    List<string> currencies = new List<string> { "USD", "EUR", "CNY", "JPY", "GBP" };
}
