@inherits LayoutComponentBase

<div class="main">
    <div class="header">
        <Header />
    </div>
    <div class="currencies float-right">
        <div class="сurrencyBar text-center">
            <CurrencyBar Codes="codes" />
        </div>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredModal />

@code{
    List<string> codes = new List<string> { "USD", "EUR" };
}
