@using GUI.Modals.Currency
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <div class="content" style="border: 1px solid red">
        <div class="content" style="border: 1px solid red">
            <CurrencyBar codes="codes"/>
        </div>
    </div>
</div>

<BlazoredModal />

@code{
    List<string> codes = new List<string> { "USD", "EUR" };
}
