<EditForm EditContext="@editContext" OnValidSubmit="@SaveDataClickHandler">
    <div class="form-group">
        <InputText class="input-group-text" @bind-Value="name" placeholder="Bot name:" />
    </div>
    <input type="submit" class="form-control button btn-primary" value="Save" />
</EditForm>

@code {
    [CascadingParameter]
    public BlazoredModalInstance BlazoredModal { get; set; }
    private string name;
    private EditContext editContext;

    private void SaveDataClickHandler()
    {
        BlazoredModal.Close(ModalResult.Ok(name));
    }

    protected override void OnInitialized()
    {
        name = "";
        editContext = new EditContext(name);
    }
}
