@page "/bots"
@using DTO.Bots;
<h3>Bots</h3>
<button @onclick="Create">Create</button>
<button @onclick="Run">Run</button>
@code {

    List<Bot> bots;

    public void Create()
    {
        var bot = new Bot();
        BotCreater.Create(bot);
    }

    public void Run()
    {
        bots[1].Run(new BotRules());
    }
}
