@page "/bots"
@using DTO.Bots;
<h3>Bots</h3>
<button @onclick="Create">Create</button>
<button @onclick="Run(1)">Run</button>
@code {
    List<Bot> bots;
    public void Create()
    {

    }

    public void Run(int index)
    {
        bots[index].Run();
    }
}
