@page "/instrument/{Figi}"
@inject IJSRuntime JSRuntime



    <div class="container ml-0 align-items-center w-75" id="myChart"></div>
@code {

    [Parameter]
    public string Figi { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        DrawChart();
    }

    private async void DrawChart()
    {
        await JSRuntime.InvokeVoidAsync("drawChart","myChart");
    }


}